[2016-06-30 02:31] witekdev opened #1 "TypeError when trying to edit a shipping method"
When trying to edit an existing shipping method in the @@jazkarta-shop-shipping-methods view, one gets an error when one hits the 'edit' link.

[code]

[2016-06-30 02:36] davisagli commented on #1
In the original codebase I think this works because we have:

[code]

so it uses a different data manager to read/write the dict.

But that's not really kosher to include in an add-on, so we need to do that in a way that will only be used for our dict.

[2016-06-30 02:55] witekdev commented on #1
I just tested the code snippet you provided. It does indeed make things work.

[2016-07-06 17:43] davisagli commented on #1
This is fixed in the `davisagli-misc` branch. I registered this data manager adapter for our fields but in a way that won't conflict with the above adapter if it happens to be used by some other package.

[2016-07-06 19:37] witekdev opened #3 "Issues with shipping form (/shipping view)"
First off all using AutoExtensibleForm for ShippingForm class would give me this when rendering the shipping view:

[code]

I then experimented (because I dont understand either of them) with using form.SchemaForm instead, which worked until these recent improvements/fixes you made and now I get:

[code]

Before merging in your changes, the form would load, although it would crash upon going to th

[2016-07-06 19:39] #1 closed, assigned to nobody

[2016-07-07 15:22] witekdev opened #4 "Using numbers in checkout process are not helpful from a UI perspective"
While I understand the reasons behind it. I find the following confusing:
"1 Billing address"
"2 Payment Information"
etc.
even though the "1" and "2" are wrapped in a 'step' class, no other styling is applied to them at the moment.

I propose we use:
"Step 1 - Billing address"
or
"Billing address"
or something like that. So either make it explicit or not at all?
or fix the styling to differentiat

[2016-07-07 15:24] davisagli commented on #4
I'm planning to add more styles (nothing fancy), but haven't yet.

[2016-07-07 15:33] witekdev opened #5 "Continue exploring button on review-cart sometimes takes one to the review-cart itself"
I know that this occurs if the previous view visited was the review-cart view itself. but we should fix it :)

[2016-07-07 15:47] witekdev opened #6 "Stripe API version v1 vs v2"
My stripe account tells me I'm using the latest API: 2016-07-06 (latest)
and according to stripe themselves - the api version gets set the 1st time you use Stripe with your application: https://stripe.com/docs/upgrades

So I just wanted to bring this into awareness that even though we explicitly embed:
`<script type="text/javascript" src="https://js.stripe.com/v1/"></script>`
inside of jazkarta.sh

[2016-07-07 17:54] witekdev opened #7 "after a failed checkout transaction, am unable to follow up with a successful transaction from the same cart"
In the /checkout view, when submitting a payment for a cart with a test card that will decline (4000000000000002) the checkout view acts appropriately and gives the user an error message.

However when I then follow up with a submit (click the complete purchase button) with a test card that should result in a successful transaction (4000000000000077), it does not work.
In the console I get a:
(ind

[2016-07-08 01:45] #5 closed, assigned to nobody

[2016-07-08 02:57] davisagli commented on #4
Improved default styles in ea5f6fe

[2016-07-08 02:57] #4 closed, assigned to nobody

[2016-07-08 03:11] davisagli commented on #6
According to https://groups.google.com/a/lists.stripe.com/forum/#!topic/api-discuss/znXmZ6Duyfw the v1 URL actually returns the same script as the v2 URL, so this should be fine. I updated it.

[2016-07-08 03:11] #6 closed, assigned to nobody

[2016-07-08 07:10] davisagli commented on #3
I fixed various shipping form issues in 33d7997

[2016-07-08 07:10] #3 closed, assigned to nobody

[2016-07-08 15:53] witekdev opened #8 "when product not yet installed - one can add IProduct behavior and see the schema fields"
If the IProduct behavior is added to a content type, those schema fields show up in the view of that content type, even though the jazkarta.shop product is not installed.

Not sure if this is just how dexterity does things or if it's an issue?

[2016-07-08 15:57] davisagli commented on #8
It's not great that the behavior shows up when the product isn't installed, but I'm not sure there's an easy way to prevent that.

[2016-07-08 16:09] witekdev opened #9 "shipping form - no buttons show up to continue with the checkout process"
![screenshot from 2016-07-08 09 05 56](https://cloud.githubusercontent.com/assets/883619/16693751/84566872-44eb-11e6-89d3-e953375f9ac6.png)

I see no errors in the console either.

[2016-07-08 16:10] davisagli commented on #9
Have you configured shipping methods?

(Also, looks like you don't have my new styles.)

[2016-07-08 16:14] witekdev opened #10 "note on the properties of an item and its cart state"
Not so much of an issue per say but wanted to note down this behavior.

Let's say I add some item to the cart, then I update it's properties (like shipping weight) before checking the cart out. The checkout process does not take note of this updated property
and in my specific use case when I changed the shipping weight from 0 to 2 while I had some of those items sitting in the cart, I did not get

[2016-07-08 16:19] witekdev commented on #9
I didnt but I now have a shipping method yet I still see this.
Also the **Shipping Fee by Weight**  datagridfield is actually not being validated as required on the Edit Shipping Method view. (not related but btw)

Will investigate the styles

[2016-07-08 16:20] davisagli commented on #10
My thought was that we should honor the price (etc) that was configured when the item was added to the cart. But you could also argue that if someone leaves an item in their cart for a long time, we should use the current price. What do you think?

[2016-07-08 16:22] davisagli commented on #9
How is the shipping method configured?

[2016-07-08 16:22] witekdev commented on #10
Hmm, you are right, changing the weight would affect the shipping price etc.
Well I would say honor the price that they got but as they are not yet on the shipping form (they have not begun to checkout process), if other properties like weight of the item change, update dynamically, or is that too much effort?

[2016-07-08 16:23] witekdev commented on #10
Amazon for instance lets you know that the price of the items in your cart has changed. Which I think is the best and acceptable way forward?

[2016-07-08 16:25] davisagli commented on #10
That's a feature that we can add if we have a client that is interested in paying for it, I'd say.

[2016-07-08 16:27] witekdev commented on #9
you are right, sorry, I had it set for Canada while using a US address. I get a proceed to payment button now.

[2016-07-08 16:28] witekdev commented on #10
Sound good to me

[2016-07-08 16:30] davisagli commented on #9
Maybe we should show a different message if you entered an address but there are no matching shipping methods.

[2016-07-09 03:49] davisagli commented on #7
I haven't been able to reproduce this one.

[2016-07-09 05:29] witekdev commented on #7
ok, I will investigate it again with all the recent fixes in place.

[2016-07-09 05:38] witekdev commented on #9
I think it makes sense to show something like that, yes.

[2016-07-09 22:32] witekdev opened #11 "Confirming User Action views in between various steps of the checkout process"
I am seeing Confirming User Action views in between various steps of the checkout process.
I suppose that is because we are not using csrf authenticators in the url?

[2016-07-09 22:35] davisagli commented on #11
Yes - but the right fix depends on whether the db writes are intentional or not. Can you be more specific about how to reproduce them?

David Glick
(mobile)

[2016-07-09 22:41] witekdev commented on #7
Ok it was a PEBKAC error on my part.
However what I discovered in the process, was that when I was entering the 4000000000000077 (good card) following the 4000000000000002 (bad card) attempt, I was also entering an expiry date of January **2016** and it was silently failing without me knowing, only giving a JS error in the log: 402 (Payment Required).
So that could be a usability improvement to pr

[2016-07-09 22:48] witekdev commented on #11
Sorry @davisagli I cleared my browser cache and I no longer see this. must have been some left over cached code.

[2016-07-09 22:56] davisagli commented on #7
It's supposed to catch that kind of error and display a message, so I'll take a look.

David Glick
(mobile)

[2016-07-09 22:57] davisagli commented on #11
Then maybe it's some data structure that was getting initialized the first time you made a purchase. We can try to reproduce it in a fresh Plone site or with a new user.

David Glick
(mobile)

[2016-07-09 23:05] witekdev commented on #11
ok, reopening..

[2016-07-10 06:39] witekdev opened #12 "Edit Shipping Method UX improvement"
When editing a shipping option, the user only has the option to save or delete.
Clicking outside of the popup/modal does not close it, so if the user wants to cancel the operation, they have to explicitly click the 'X'. I think it would be good to improve the Ui/UX on this form. Perhaps adding a cancel button or allowing a click outside of the modal to close the modal and 'cancel the operation'

[2016-07-10 16:32] witekdev opened #13 "Confirming User Action page pops up everytime accessing Jazkarta Shop Settings"
This happens to me consistently even when I access the Jazkarta shop settings by following the link in the site setup page.

[2016-07-10 22:18] davisagli commented on #7
It was displaying the message, but at the top of the form and without error styles, so it was super easy to miss. Fixed.

[2016-07-10 22:18] #7 closed, assigned to nobody

[2016-07-10 22:24] davisagli commented on #13
Fixed

[2016-07-10 22:24] #13 closed, assigned to nobody

[2016-07-11 03:29] davisagli commented on #12
I'm fine with that, but doesn't seem like a blocker especially since this is an admin-only UI. We're using the modal from `mockup`; it might have a setting for closing when you click outside the modal.

[2016-07-11 03:39] davisagli commented on #11
Tried to reproduce in a new site but couldn't.

[2016-07-11 03:39] #11 closed, assigned to nobody

[2016-07-12 19:48] witekdev opened #14 "Edit shipping method form - Calculation method display glitch"
The calculation method option of "By weight" has a related field: "Shipping Fee by Weight"
However, when selecting another option eg "USPS Priority Mail" hitting save, and then once again going to the editing the shipping form, I find that the "Shipping Fee By Weight" field is hidden. This is appropriate behavior, however when I then select "By weight" options, the "Shipping Fee By Weight" field r

[2016-07-12 20:08] davisagli commented on #14
It's supposed to work like that; must not be triggering correctly.

[2016-07-12 20:28] davisagli opened #15 "Convert tax lookup to use utility"
(creating this so I don't forget)

[2016-07-13 16:36] witekdev opened #17 "shipping provider enable/disable option?"
If we make all the ups/usps (and maybe fedex in future) settings non-required, we should probably include some sort of mechanism to enable/disable the different shipping providers, so that one cannot setup a shipping method for eg. UPS 2day without UPS being enabled and its credentials entered in the settings?

[2016-07-14 16:40] SDHSPress opened #18 "Book Images"
Even if there is a book image under the book's folder, I cannot update the book info without uploading a new image from my computer. How do I get the book from the folder to be recognized as the cover image?

[2016-07-14 16:46] SDHSPress opened #19 "Book Illustrations Field"
The book illustrations field should not be required. Some books do not have illustrations, so that field shouldn't show if it is empty.

[2016-07-14 16:51] witekdev commented on #18
@SDHSPress I think it would be better for you to file these issues under https://github.com/jazkarta/sdhsp-buildout
The issues listed here are related more to the technical aspects of the jazkarta.shop product

[2016-07-14 16:53] #19 closed, assigned to nobody

[2016-07-14 16:54] SDHSPress commented on #18
Whoops, didn't realize that I wasn't under the sdhsp-buildout. Sorry

[2016-07-14 16:54] #18 closed, assigned to nobody

[2016-07-14 16:55] witekdev opened #20 "Sync quantities and items with "my cart" while in the review-cart view"
If we modify the items and/or quantities in the review-cart view, we should be dynamically updating the "My Cart" details as well.

[2016-07-14 17:04] davisagli commented on #20
Or just don't show "My Cart" on the review-cart view?

[2016-07-14 17:07] witekdev commented on #20
That sounds good too.

[2016-07-14 18:21] #15 closed, assigned to davisagli

[2016-07-15 00:07] witekdev opened #21 "WA Tax lookup error"
Discovered by chance
If I supply an invalid address and/or zip for Washington state and select the state as WA I get this:

[code]

after hitting the "Proceed to payment" button on the shipping view.

Not sure why the WA Tax API doesn't flag this as an error.
Test:
Street: any street
City: Seattle
State; WA
Zip: 97201 (which is Portland, OR)

[2016-07-15 21:36] davisagli commented on #21
It does flag it, but I guess we aren't detecting that correctly. Will fix when I get a chance.

[2016-07-15 21:42] witekdev commented on #21
ok, might be a good for you to see if you have the same issue on mountaineers if you reused the code?

[2016-07-15 21:43] davisagli commented on #21
Yep, will check whether it's a problem there too or if I just messed something up when moving things around.

[2016-07-16 18:59] davisagli commented on #21
Just checked in a fix so this will return a tax of 0 rather than breaking.

Ideally we would show the user a validation error that their address isn't recognized, but that's not straightforward since the tax calculation is decoupled from the form where they enter their address (tax is calculated when the checkout form loads, not when shipping is selected).

[2016-08-04 16:47] cewing opened #22 "Thank You page fails to load in certain themes"
Because the template does not make use of the content-core slot.  Fix is underway.

See jazkarta/sdhsp-buildout#22

[2016-08-04 17:31] #22 closed, assigned to nobody

[2016-08-04 18:23] witekdev opened #24 "shipping view - show the user feedback that an invalid address is specified."
At the moment if the user enters an invalid zip code, the USPS shipping option will simply not appear, failing silently behind the scenes with:  Exception: USPS Error: The Destination ZIP Code you have entered is invalid.

Would be nice to give the user some indication that something is up.

[2016-08-04 18:29] #21 closed, assigned to nobody

[2016-08-04 18:30] witekdev commented on #24
related to https://github.com/jazkarta/jazkarta.shop/issues/9

[2016-08-04 18:46] witekdev opened #25 "Prevent page shifting when first product is added to a cart"
See https://github.com/jazkarta/sdhsp-buildout/issues/24

[2016-08-04 19:09] witekdev commented on #25
@davisagli Not sure if this is something specific to this product or if we should let each site take responsibility for correctly styling it on their own?

[2016-08-05 17:46] cewing commented on #25
@witekdev I think this is actually something that belongs in individual themes.  The HTML provided by the shop is reasonable.  And fixing it through a theme is fairly straightforward.

[2016-08-05 17:53] cewing opened #26 "checkout page does not play well with Plone's login modal"
The Plone login modal is intended to close when login is complete and reload the parent page.  The checkout view of this product does not do so.  When login is completed, the entire checkout page is rendered in the login form, and the modal does not close of its own accord.
### To Reproduce:
- install the `jazkarta.shop` package in a fresh Plone site and configure it
- put an item in your cart
- c

[2016-08-05 17:53] cewing commented on #26
see also jazkarta/sdhsp-buildout#23

[2016-08-07 17:51] #25 closed, assigned to nobody

[2016-10-13 19:21] alecpm opened #27 "Allow Selecting States for TaxJar Lookup"
Since the South Dakota state specific tax calculator currently just uses TaxJar conditional on the state entered, we should probably consider adding support to the default TaxJar tax provider to allow configuring which states to lookup tax rates for. That seem like a better solution than having separate state tax providers that just use TaxJar as the backend.

[2016-10-13 20:36] skleinfeldt commented on #27
IIRC @alecpm we only need to look up tax for South Dakota. Taxjar was the solution because there is no SD state agency provided API. I think.

[2016-10-13 21:16] alecpm commented on #27
I get that, but it's quite a common need for an online retailer to only need to calculate taxes for buyers in states that they have some sort of physical presence. I'm suggesting that jazkarta.shop rather than have a single special case plugin for doing SD taxes only using TaxJar, it should have a picklist that allows you an admin to select the states they want to calculate tax for. That would be

[2016-10-13 21:47] skleinfeldt commented on #27
Sorry in my haste didn't notice what tracker I was in @alecpm

[2016-10-25 18:20] alecpm opened #28 "Control Panel should indicate Production/Development mode"
The shop control panel should have a clear info box on top indicating whether the site shop is currently in Production or Development mode, with instructions to set the JAZKARTA_SHOP_PRODUCTION as appropriate.

It may make sense to use a finer grained mechanism to turn on Production mode, since the environment variable will naturally affect multiple sites running under the same Zope instance, whic

[2016-11-20 21:40] witekdev opened #29 "Inaccurate "My Cart" status when shopping as an anonymous user."
This seems to be a caching issue as I'm able to get expected behavior on my local instance by turning my caching off. Looks like the "My Cart" indicator is cached on some pages and does not correctly indicate the state of the cart. One can test this by clicking around on http://www.sdhspress.com/ adding books and journals to the cart as anonymous user. One should quickly see inconsistencies.

@dav

[2016-11-21 17:26] davisagli commented on #29
It hasn't come up, but I suspect it is probably an issue for Mountaineers too. We probably need to make the cart indicator load via an ajax request that is served with a `Cache-control: no-cache, no-store` header so that it loads every time even if the page as a whole is cached.

[2016-11-21 18:05] witekdev commented on #29
ok, that makes sense. Thanks!

[2017-01-05 13:04] witekdev opened #30 "Add authorize.net SIM support"
from https://developer.authorize.net/api/upgrade_guide/
Server Integration Method (SIM)
STATUS:
Supported

ALTERNATIVE SOLUTIONS:
SIM is now referred to as Payment Form.

DESCRIPTION:
Our hosted payment form and Direct Post Method (DPM) still use our SIM API. You can find everything you need to know about integrating with those features in our Server Integration Method (SIM) Guide (PDF):
http://ww

[2017-01-05 18:27] davisagli commented on #30
What's the motivation for this? I might be okay with adding support for other payment methods as long as they use a separate secure server (as is the case here), but I'm curious if there's a problem with using Stripe in some case?

[2017-01-05 20:00] witekdev commented on #30
@davisagli UMP need to upgrade their current authorize.net implementation to be more PCI compliant in the future. The plan is to get them off the current getpaid add-ons that they are currently using and to use jazkarta.shop (which also makes them Plone5 compatible if they at some point go to P5), however they cannot switch from authorize.net to Stripe or something else. I'm working on this, this

[2017-01-05 20:02] witekdev commented on #30
@davisagli pointers/advice always welcome :)

[2017-01-05 20:25] davisagli commented on #30
Okay. Keep in mind that the control panel for jazkarta.shop currently assumes the use of Stripe and requires keys for it; we'll need to add a way to specify which processor to use and validate for the keys accordingly.

[2017-01-05 20:25] davisagli commented on #30
Please ping me on the pull request and I can review too.

[2017-01-05 20:42] witekdev commented on #30
Thanks, will ping once ready or if questions arise.

[2017-01-06 01:37] witekdev commented on #30
@davisagli
I am thinking as to where and how would be the best way to implement the authorize.net API interaction in jazkarta.shop. My thinking is that when the user is on the shipping view and clicks "Proceed to Payment", the selected processor type is then looked-up and the user is rerouted to the respective checkout browser view.  While there will likely be some code reused from the current Che

[2017-01-06 04:49] davisagli commented on #30
From some quick looking around the options that authorize.net provides, I think that http://developer.authorize.net/api/reference/features/acceptjs.html would be the one that is most similar to how our integration with Stripe works (i.e. javascript on the checkout form submits credit card info to their secure server and gets back a token, which gets submitted to our server, which then sends the re

[2017-01-06 14:32] witekdev commented on #30
ok, thanks for the feedback, yes, I saw the accept.js option as well, but in this case they specifically want to use SIM approach for better PCI compliance.

[2017-01-06 16:38] skleinfeldt commented on #30
Thanks for opening this ticket @witekdev and thanks for being willing to advise and review @davisagli. (And FYI on the discussion @alecpm ) As Witek explained, this is being driven by management, Stripe is simply not an option and auth.net's SIM integration was specified. That said, it may be worth asking if the JS option would be acceptable, IF we can describe the superior functionality it would

[2017-01-06 17:57] witekdev commented on #30
@skleinfeldt yes. private vs public repo noted. Sorry about that.

I'm not sure if SIM gives more PCI compliance over Accept.js, I would think that since SIM's form is entirely hosted on Authorize.net it would be more compliant, but I have no idea if that is the case.

Some more info on Accept.js:
https://community.developer.authorize.net/t5/The-Authorize-Net-Developer-Blog/Introducing-Authorize-N

[2017-01-06 18:05] witekdev commented on #30
Additional detail on SIM hosted payment form configuration options:

**Update: unfortunately the following have been found to have no effect on the configurability of the Accept Hosted form. These would only apply to the older legacy SIM Payment Form solution which Accepted Hosted form is the replacement for.**

![auth1](https://cloud.githubusercontent.com/assets/883619/21727740/bf8cf0f0-d410-11e6

[2017-01-06 18:07] davisagli commented on #30
I would think that acceptjs would have similar characteristics to SIM with regard to PCI compliance since it also only sends credit card info to Authorize.net's servers.

I don't really know anything about the customer's site to be able to comment on how jazkarta.shop should be integrated, or enough about the SIM approach to comment on its limitations without doing additional research.

[2017-01-11 19:15] skleinfeldt opened #31 "Eliminate confusion resulting from the Continue Exploring button on the Checkout page"
I just walked through a book purchase on the SD site in prep for describing how it works to UMP: I added a book to my cart, went to my cart, filled out shipping info, proceeded to checkout, but then (since I had no intention of purchasing) from that page I went back to my cart, removed the item and clicked Continue Exploring. I was redirected back to the Checkout page with a $0 purchase now showin

[2017-01-11 19:20] davisagli commented on #31
When you say you "went back to my cart", did you do that by clicking Back in your browser, or by clicking a link in the site? The "Continue Exploring" button just tells your browser to navigate back, so if you returned to the cart by clicking a link, that would have added an entry to your browser history, and Continue Exploring would have returned to the previous entry, which was the checkout page

[2017-01-11 20:08] skleinfeldt commented on #31
To clarify: I added a book to my cart, went to my cart, filled out shipping info, proceeded to checkout, then from that page I clicked on the Cart link in the top right, removed the item and clicked Continue Exploring.

So yes this is explained by navigating back to the previous page. And yes I think the simple solution of Continue Exploring either going to the homepage or being removed is fine -

[2017-02-16 17:25] witekdev opened #32 "Plone 4 compatibility notes"
Issues that I am currently aware of that are still TODO before this product is P4 compatible:

- [x] Fix - On P4 overlays don't redirect back to jazkarta-shop-shipping-methods panel upon completion of their task: add shipping method overlay, edit shipping method overlay

- [x] make shop.js P4 compatible (not use require.js)

- [x] Make checkout form and shipping form independent of pat-select2 pat

[2017-03-17 19:33] witekdev commented on #30
Latest SIM dev guide here:
http://www.authorize.net/content/dam/authorize/documents/SIM_guide.pdf

[2017-03-21 19:50] witekdev commented on #30
Looks like custom logos are possible for the SIM form but involve involving authorize.net to set it up:
http://www.authorize.net/content/dam/authorize/documents/SIM_guide.pdf#page=48

[2017-03-21 21:50] witekdev commented on #30
Testing relay response links:
https://community.developer.authorize.net/t5/Integration-and-Testing/SIM-Relay-Response-Testing/td-p/31020/page/2
http://developer.authorize.net/support/paramdump/

[2017-03-22 00:05] witekdev opened #33 "Store shipped method used for an order"
Might be a good idea to keep track of what shipping method was used and then have it displayed under @@jazkarta-shop-orders?

[2017-03-22 00:09] witekdev commented on #27
maybe @davisagli can weigh in his thoughts here too at some point (not that this is a priority given other bugs and enhancements on the back burner).

[2017-03-22 00:18] witekdev commented on #30
Tell customer somewhere that they have about 15min to complete the checkout process as per:
https://support.authorize.net/authkb/index?page=content&id=A592&actp=LIST

add some js that recalculates hidden parameters when the customer hits "Complete Purchase with Authorize.Net" button, so that the have +- 15min from the moment a hosted form shows up?
If a customer lingers on the /checkout view, that

[2017-03-22 16:42] davisagli commented on #27
This makes sense to me if and when we have a client in a different state that wants to use TaxJar

[2017-03-22 17:41] witekdev commented on #27
That functionality is already in place, in the sense that if you are in a different state you can use the complete TaxJar SmartCalcs State Tax Handler, not the one that ignores all states but SD.
(At the moment we have 3 options the WA state tax handler (from Mtneers), the TaxJar SmartCalcs State Tax Handler and the South Dakota State Tax handler (using TaxJar and only calculating if the user ship

[2017-03-22 17:43] davisagli commented on #27
Hmm, I'm not really clear on what is best, so I would wait until a customer needs something different than what we have to make changes.

[2017-03-22 17:44] witekdev commented on #27
That seems like the best approach in my opinion too, as we have plenty of other more pressing issues to fix when we get a moment.

[2017-04-08 16:15] witekdev commented on #30
Jazkarta.shop now has functional SIM support. Has not yet been tested with a production site and non-sandbox authorize.net merchant account but should hopefully work when these are in place.

[2017-04-08 16:19] witekdev commented on #32
To get around currently existing issues in P4 (mostly related to the overlays in the shipping options configuration panel now working), Add/Edit the shipping methods/options in a new tab (ie, not in an overlay). This is a work around but works!

[2017-04-08 16:30] witekdev commented on #30
Reopening as there exists a unicode issue with sending out receipt emails. The relevant code is currently commented out: https://github.com/jazkarta/jazkarta.shop/blob/p4_sim_integration/jazkarta/shop/browser/checkout.py#L301:L308

[code]

[2017-04-12 17:07] witekdev opened #34 "Place anonymous carts in the ZODB rather than using sessions."

[2017-04-18 00:13] witekdev commented on #30
Looks like the issue is escaped css - such as:
[code]

[2017-04-18 22:41] witekdev commented on #30
Looks like this is an existing issue with premailer: https://github.com/peterbe/premailer/issues/152
Added a work around for this specific case: https://github.com/jazkarta/jazkarta.shop/commit/ffad9bdb6ad1eda1c79a2fbd40d534eb973204ad

[2017-04-22 20:16] witekdev commented on #31
I've commented out the Continue Exploring button in the view template.

[2017-04-22 20:16] #31 closed, assigned to nobody

[2017-05-03 21:45] witekdev opened #35 "Adapt to work with archetype content types"

[2017-05-04 16:42] witekdev opened #36 "test UPS shipping options"
Setup test account and make sure that we can correctly get pricing information from UPS

[2017-05-04 17:01] witekdev commented on #12
added a Cancel button, couldn't figure out how to add a parameter to close with clicked outside of modal. It's not something that is documented: http://plone.github.io/mockup/dev/#pattern/modal

[2017-05-04 17:01] #12 closed, assigned to nobody

[2017-05-04 17:31] witekdev opened #37 "Improve selectability of shipping states/zones"
Currently we have:

![screenshot from 2017-05-04 12 28 16](https://cloud.githubusercontent.com/assets/883619/25716649/5ed638fe-30c5-11e7-9690-5ee0a4359676.png)

Replace with some sort of multiselect widget that allows one to select multiple individual states as well.
Get rid of WEST, MIDWEST, EAST zones

[2017-05-04 18:03] witekdev commented on #9
Added a "We are currently unable to ship to this address." status message if the address entered is not supported by the existing shipping methods. This is based on the state/country selected.
This shows up once all the required shipping fields have been provided.

We do not check that the zip and state field match. So there is still a way for the user to move forward if they enter a valid zip for

[2017-05-04 18:03] #9 closed, assigned to nobody

[2017-05-04 18:08] witekdev commented on #24
Ticket #9 actually solves this for us. The generic - "We are currently unable to ship to this address." will be displayed when an incorrect address is specified.

[2017-05-04 18:08] #24 closed, assigned to nobody

[2017-05-04 23:22] witekdev commented on #20
Fixed

[2017-05-05 14:38] witekdev opened #39 "update "Calculate Tax Using" and "Payment Processor" configuration panels"
Change "Calculate Tax Using" and "Payment Processor" multiselect widget to single select since you can only choose one option for these.

[2017-05-06 01:36] witekdev opened #41 "USPS package cannot exceed 70 lbs"
This is low priority but we could potentially warn the user if this exception is thrown?
Exception: USPS Error: Warning - The package weight cannot exceed 70 pounds.

[2017-05-06 01:50] witekdev commented on #35
Implemented

[2017-05-06 01:50] #35 closed, assigned to nobody

[2017-05-06 02:21] witekdev commented on #29
Fixed in P5, needs to be made compatible with P4

[2017-05-06 03:26] witekdev commented on #29
Fixed in P4

[2017-05-06 03:26] #29 closed, assigned to nobody

[2017-05-06 03:59] witekdev commented on #20
Fixes to https://github.com/jazkarta/jazkarta.shop/issues/29 undid this. reopening

[2017-05-06 04:14] witekdev commented on #20
Fixed  on p4_sim_integration branch

[2017-05-06 04:14] #20 closed, assigned to witekdev

[2017-06-05 21:57] witekdev commented on #30
I would regard this to be working.

[2017-06-05 21:57] #30 closed, assigned to witekdev

[2017-08-01 02:10] witekdev commented on #32
In add/edit shipping method form - added explicit redirects for the save, delete and cancel buttons if under P4. No longer use overlays in this context as datagridfield doesn't currently work in an overlay.

[2017-08-01 02:10] #32 closed, assigned to witekdev

[2017-08-01 02:11] witekdev commented on #34
Merged https://github.com/jazkarta/jazkarta.shop/commits/no-sessions into https://github.com/jazkarta/jazkarta.shop/commits/p4_sim_integration branch

[2017-08-01 02:11] #34 closed, assigned to nobody

[2017-08-01 03:01] witekdev commented on #39
On the p4_sim_integration branch "Payment Processor" is a single select

[2017-08-01 04:52] witekdev opened #43 "pagination for shop orders view could be useful"

[2017-08-02 23:07] witekdev opened #44 "Should we add an option whether to apply sales tax to the shipping charges?"
We do this now by default I noticed, but I'm not sure whether it might be good to give the user an option in the configuration panel to select/deselect this explicitly? Point 2 from https://www.avalara.com/learn/whitepapers/shipping-handling-sales-tax/ made me wonder about the above.

@davisagli thoughts?

[2017-08-16 13:21] davisagli commented on #44
I would wait until someone needs it.

[2017-08-17 15:47] skleinfeldt commented on #44
FYI no current projects need this.

[2018-03-08 19:26] skleinfeldt opened #48 "Better documentation"
Improve jazkarta.shop documentation to. Mention that the add-on expects an environment variable `JAZKARTA_SHOP_PRODUCTION` to be set when running in production.

[2018-04-03 01:01] cguardia commented on #43
It does have pagination, after 50 items.

[2018-04-03 01:01] #43 closed, assigned to nobody

[2018-04-03 15:08] witekdev commented on #43
Great!

[2018-06-27 01:50] witekdev opened #51 "Better validation and shipping method selection"
Make certain settings fields not required;
Some client's may want to offer free shipping only, in which case they have no need for the
**USPS WebTools API User Id** or UPS settings

Perhaps add some multi-select to allow users to configure which shipping methods they want to use, and if USPS or UPS are not selected, do not require configuration data to be present in those fields?
Likewise if certa

[2018-07-10 01:37] witekdev opened #52 "Refactor specific update cart code (applicable when authorize.net SIM is in use) to jazkarta.shop"
Currently the functionality to update cart quantities on the checkout page when Authorize.net SIM is the method being used, is sitting in another client project. Link not available since this is a public repo and the other private.

The code referred to is sitting in methods: def update_fp_fields_js, update_fp_fields(); etc

The code mentioned allows the correct total purchase amount to be sent to

[2018-08-12 18:53] witekdev opened #53 "Shop Orders and Shipping Methods pages show the wrong left portlet"
Under Plone 4, the Shop Orders and Shipping Methods pages do not show the control panel portlets but show other site portlets.

Making these 2 views into true Control Panel views would likely fix this.

[2018-08-27 01:00] witekdev commented on #53
This was addressed by manually adding links in the templates.
https://github.com/jazkarta/jazkarta.shop/tree/add_site_setup_link
Perhaps we get around to implementing this "properly" once day.

[2018-08-27 01:00] #53 closed, assigned to nobody

[2019-01-09 02:52] witekdev commented on #52
This has been fixed: https://github.com/jazkarta/jazkarta.shop/commit/0e45a0a6adabe90f3dbca4d7908399f418cb4db4

[2019-01-09 02:52] #52 closed, assigned to cguardia

[2019-02-26 06:54] fulv opened #54 "UnicodeEncodeError in Module jazkarta.shop.browser.controlpanel, line 64, in _fetch_orders"
https://sentry.io/share/issue/67966c75954042bda3f867eac19deec0/

This happens when users type weird characters in the `title` field.

I have a fix, but I am having a bit of trouble pushing back to the repo right now.

[2019-02-26 07:02] fulv commented on #54
ERROR: Permission to jazkarta/jazkarta.shop.git denied to fulv.

[2019-02-26 13:43] davisagli commented on #54
@fulv you should be able to open a pull request from a branch in your fork of jazkarta.shop

[2019-02-26 15:40] skleinfeldt commented on #54
Thanks for the fix @fulv and let me know if you continue to have trouble.

[2019-06-17 21:20] fulv opened #56 "Better customizability of thank-you page"
I'd like to propose a modest improvement to the thank you page that would make it more customizable.

Basically, my proposal consists of:

- a marker interface `IThankYouView`
- a browser page that inherits from `CheckoutFormBase` and that implements `IThankYouView` and otherwise does nothing except to use the same template `checkout_thankyou.pt` that is already being rendered.
- replacing the cal

[2019-06-18 16:05] skleinfeldt commented on #56
@fulv thanks for the suggested contribution!

@davisagli do you have any input on this? I feel like you're the main architect even though you're not so involved now. Thanks!

[2019-06-22 11:37] davisagli commented on #56
The overall idea sounds reasonable, but keep in mind that the template needs access to the "old_cart" which is currently set on the view when the form submission is processed, so you'll need to find another way to pass that to the template.

[2019-11-06 21:46] fulv commented on #56
Yeah, I realized that when I tried out my implementation.

[2019-11-13 06:42] #54 closed, assigned to nobody

[2019-11-15 00:26] #56 closed, assigned to nobody

[2020-10-17 16:04] registroforzado opened #63 "Error: Couldn't find a distribution for 'jazkarta.shop' (Plone 5.2.2)"
Hello,

How can I install jazkarta.shop in Plone 5.2.2?

After add it into buildout.cfg and execute bin/buildout, I get:

We have no distributions for jazkarta.shop that satisfies 'jazkarta.shop'.
Couldn't find index page for 'jazkarta.shop' (maybe misspelled?)
Getting distribution for 'jazkarta.shop'.
Couldn't find index page for 'jazkarta.shop' (maybe misspelled?)
While:
  Installing client1.

[2020-10-17 23:59] registroforzado opened #64 "ImportError: No module named parse (Plone 5.2.2)"
Is there a way to solve this? Thank you

$ bin/client1 fg
/home/plone/5/buildout-cache/eggs/Products.GenericSetup-2.0.2-py2.7.egg/Products/GenericSetup/registry.py:16: ImportWarning: Not importing directory '/home/plone/5/buildout-cache/eggs/Products.GenericSetup-2.0.2-py2.7.egg/Products/GenericSetup/xml': missing __init__.py
  from xml.sax import parseString
2020-10-18 01:57:18,169 WARNING [Init:

[2020-10-25 00:11] registroforzado opened #65 "Versions to install in Plone 4 and Plone 5?"
Hello,

I'm trying to install jazkarta.shop, but I only get errors.

Could you please indicate with which specific versions of Python and Plone the different versions of jazkarta.shop (v2020.1, v2020.2 and master) should be installed?

Thanks

[2020-11-02 19:09] skleinfeldt opened #66 "Fix warning due to automatic CSRF protection"
jazkarta.shop control panels can give "Confirming User Action" warning. This is a harmless result of Plone's automatic CFRS projection on the control panel view, but ideally should be fixed.

[2020-11-02 19:33] cguardia commented on #63
Hi, sorry for the late response. We added installation instructions to the README.

[2020-11-02 19:34] cguardia commented on #65
Sorry for the late response. For now, you should run it from master. We just added buildout installation instructions to the README.

[2020-11-02 19:36] cguardia commented on #64
Sorry for the late response. This is because the latest premailer package does not support Python 2.7 anymore. The buildout installation instructions that we added to the README fix this.

[2020-11-02 22:21] skleinfeldt commented on #48
Done.

[2020-11-02 22:21] #48 closed, assigned to nobody

[2020-11-02 22:57] skleinfeldt opened #67 "Improve control panel help text"
Explain what the "Product Categories" configuration field on the Settings panel does, or how it works.

Explain how to configure the "Shipping Fee by Weight" field on the Shipping control panel. Is it really always required?

[2020-12-06 23:23] spanish commented on #65
Current jazkarta.shop Master installed and working with Plone 4.3.10:

[versions]
lxml = 4.0.0
premailer = 3.6.2
cachetools = 3.1.1

I also had to add the following line:
\<include package="z3c.caching" file="meta.zcml" />
to the following file:
/path-to-plone4310/zeocluster/src/jazkarta.shop/jazkarta/shop/browser/configure.zcml

Another day I will try with Plone 5.

Thanks!

PS: I'm registroforza

[2021-04-01 09:09] #63 closed, assigned to nobody

[2021-04-01 09:09] #64 closed, assigned to nobody

[2022-02-08 17:32] sauzher opened #70 "PY3 compatibility warning: `@@jazkarta-shop-orders` has AT dependancy"
The `@@jazkarta-shop-orders` template (accessible in `@@overview_controlpanel`) make use of `@@date_component_support` which is an AT registered view not provided in plone52-python3

[2022-02-08 17:43] skleinfeldt commented on #70
@alecpm What's up with this? We have a client using jaz.shop on Python 3 (SDHSP) - are they or UMP on a special branch or somethng?

[2022-02-08 18:15] alecpm commented on #70
This is an issue with a template used on the order management screens which would only show up when viewing the order list (it's a reference to a view name that's now missing). That's probably why it was missed in the initial Python 3 port, surprised we haven't heard from SDHSP about it, but they probably use their payment provider's UI to track orders.

SDHSP is on a [`snake3`](https://github.com

[2022-03-04 19:57] alecpm commented on #70
We've got a report from SDHSP about this. The traceback is:

[code]

I think the best solution would be to switch to the more modern [`pat-pickadate`](http://plone.github.io/mockup/dev/#pattern/pickadate) for this widget. Since this is impacting a client, I think we need to make this high priority. Perhaps @witekdev can work on this?

[2022-03-07 17:03] skleinfeldt commented on #70
It probably makes sense for @sauzher to fix the issue on UMP time and for @alecpm to straighten out any branches/pinning problems, yes?

[2022-03-07 17:25] alecpm commented on #70
Sounds good to me. @sauzher Do you see a reasonable path for moving to the mockup pick-a-date widget for this control panel?

Note: we would lose Plone 4.3 compatibility on the date picker to an extent (though only for sites without plone.app.widgets installed), and I think it would still work with manual date entry.

[2022-03-07 17:59] sauzher commented on #70
No problem for me. I'll take a look

[2022-03-08 17:18] sauzher commented on #70
@alecpm It should work. I tested it in the local clone of staging and on a new plone52 instance.

[2022-03-10 07:37] alecpm opened #74 "Improve Performance of Orders Control Panel"
Based on issues with NCI order list performance with over 8000 orders, we need to make improvements to the control panel and CSV export performance. See jazkarta/nci-redesign#200

The control panel has date filtering, but it's all done after retrieving the full `BTree` of orders. The internal storage is somewhat optimized for a more limited retrieval of sorted items, but that organization is not r

[2022-03-10 08:05] alecpm commented on #74
This proof of concept needs some additional work to support providing the total count of date filtered results for batch generation, but that should just mean getting all filtered and sorted keys and then getting/slicing them on-demand.

[2022-03-14 17:30] alecpm commented on #74
@fulv I've created a [PR for jaz.shop](jazkarta/jazkarta.shop#77) and assigned you as reviewer, could you take a look at the code and see if it solves these performance issues for NCI?

[2022-03-21 18:10] silviot opened #80 "Add "Continue Shopping" button to cart review page"
The "checkout" page has a "continue shopping" button, but it's missing on the "Review cart" page.

[2022-03-21 18:20] #70 closed, assigned to nobody

[2022-03-25 08:08] #36 closed, assigned to nobody

[2022-03-25 08:14] witekdev commented on #26
This issue still exists, can be seen on SD project. Navigate yourself to checkout view as anon, login via link. See the checkout contents rendered inside a modal

[2022-03-25 08:18] #65 closed, assigned to nobody

[2022-03-25 17:18] skleinfeldt opened #83 "Make jazkarta.shop translatable"
Use `i18n:translate` more consistently to make the product available to people who want to translate the UI it into other languages. This feature can also be used to customize UI strings like "Continue Shopping".

[2022-03-25 17:21] skleinfeldt opened #84 "Accessibility review and fixes"
Do an accessibility review of jazkarta.shop. Fix any issues discovered. This should probably  include better handling of link/button combinations like "Continue Shopping" (wrapping a button in a link vs styling a link like a button).

[2022-04-04 16:59] alecpm commented on #26
@witekdev Could you provide a bit more detail on how to reproduce this? When I take the following steps

* Visit https://www.sdhspress.com/books/a-place-for-harvest as anon
* Click "Add to cart"
* Click cart icon in upper right and click "Checkout" button
* Click the login link on the upper right to open a login modal
* Login

I get redirected to the checkout page with no modal.

[2022-04-04 17:29] alecpm commented on #26
Nevermind, I see it. It doesn't happen from the cart or shipping pages, only from the final checkout page. It seems very strange to me that this only happens from the final checkout page and not any other pages (including the similar shipping page), especially since there doesn't seem to be any special modal customizations made on that page. The modal behavior is determined by the the modal `patte

[2022-04-04 17:40] alecpm commented on #26
I see what's happening. The checkout page always includes the following HTML:

[code]

The AJAX form machinery looks explicitly for `".portalMessage.error, .alert-danger"` in the form response and treats the presence of a matching element as a form submission error which it loads in the modal.

We should probably either use a custom set of classes for the checkout JS error handling or only add the

[2022-04-06 17:46] skleinfeldt commented on #66
This has been fixed as part of recent jazkarta.shop work, closing.

[2022-04-06 17:46] #66 closed, assigned to nobody

[2022-04-06 20:45] alecpm commented on #26
This is fixed on master by using class `alert-error` rather than `error` which provides the same styling without the automated modal hijacking behavior.

[2022-04-06 20:45] #26 closed, assigned to nobody

[2022-04-06 20:46] #74 closed, assigned to alecpm

[2022-04-06 20:46] #80 closed, assigned to silviot

[2022-04-06 21:10] alecpm commented on #8
There's currently no way to restrict a behavior registration to a specific layer or make the behavior registration conditional on the product being installed in the ZMI, so I think this is #wontfix.

[2022-04-06 21:10] #8 closed, assigned to nobody